
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://crypto-admin-templates.multipurposethemes.com/sass/bs5/images/favicon.ico">

    <title>Dashboard - Crypto Dashbaord</title>

	<!-- Vendors Style-->
    <link rel="stylesheet" href="https://app.mt24fx.online/theme-assets/css/vendors_css.css">

	<!-- Style-->
	<link rel="stylesheet" href="https://app.mt24fx.online/theme-assets/css/style.css">
	<link rel="stylesheet" href="https://app.mt24fx.online/theme-assets/css/skin_color.css">
    <link rel="stylesheet" href="https://app.mt24fx.online/theme-assets/css/main-custom.css">
    <link rel="stylesheet" href="https://app.mt24fx.online/theme-assets/plugins/toastr/build/toastr.min.css">
    <link rel="stylesheet" href="https://app.mt24fx.online/theme-assets/plugins/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="https://app.mt24fx.online/theme-assets/assets/vendor_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">

    <style>
        /*-----Preloader---*/
        /* #loader {
            position: fixed;
            width: 100%;
            height: 100vh;
            z-index: 999999;
            overflow: visible;
            background: #fff url("https://app.mt24fx.online/theme-assets/images/preloaders/1.gif") no-repeat center center;
        } */
        
        @media (max-width: 767px) {
          .main-sidebar {
            margin-top: 80px !important;
            }
        }
    </style>
    <style>
        .swal2-title{
            color:black !important;
        }
        .sidebar-menu > li > a > i {
            font-size: 15px !important;
            margin-right: 2px !important;
        }
    </style>
      </head>

<body class="hold-transition dark-skin sidebar-mini theme-warning fixed">