 <!-- /.content-wrapper -->
 <footer class="main-footer">
  &copy; 2024 Crypto Dashboard All Rights Reserved.
</footer>

<!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>

</div>
<!-- ./wrapper -->

<!-- Vendor JS -->
  <script src="https://app.mt24fx.online/theme-assets/js/vendors.min.js"></script>
<script src="https://app.mt24fx.online/theme-assets/js/pages/chat-popup.js"></script>
  <script src="https://app.mt24fx.online/theme-assets/assets/icons/feather-icons/feather.min.js"></script>
  <script src="https://app.mt24fx.online/theme-assets/plugins/axios/dist/axios.min.js"></script>
  <script src="https://app.mt24fx.online/theme-assets/plugins/toastr/build/toastr.min.js"></script>
  <script src="https://app.mt24fx.online/theme-assets/plugins/clipboard/clipboard.min.js"></script>

  <script src="https://app.mt24fx.online/theme-assets/assets/vendor_components/Web-Ticker-master/jquery.webticker.min.js"></script>

<!-- Crypto Admin App -->
<script src="https://app.mt24fx.online/theme-assets/js/template.js"></script>
<script src="https://app.mt24fx.online/theme-assets/js/pages/dashboard10.js"></script>
  
</body>
</html>
