<html lang="en">

<!-- Mirrored from tezkobank.com/about by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 02 May 2024 10:05:08 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <!-- mobile metas -->
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<meta name="description" content="Savings Bank. Our Dedicated Team Is Committed To Providing You With The Tools, Resources, And Expert Guidance You Need To Save Wisely And Achieve Your Savings Goals.">
	<meta name="author" content="">
	<title>Bitonite FX | We are here to empower you on your journey towards financial freedom and help you make the most of your hard-earned money.</title>
	 <!--thriveBank logo icon -->
	 <link rel="icon" href="images/thriveLogo.svg">
	<!-- Bootstrap core CSS -->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Fontawesome CSS -->
	<link href="css/all.css" rel="stylesheet">
	<!-- Owl Carousel CSS -->
	<link href="css/owl.carousel.min.css" rel="stylesheet">
	<!-- Owl Carousel CSS -->
	<link href="css/jquery.fancybox.min.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="css/style.css" rel="stylesheet">
	<!--Start of Tawk.to Script-->
<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/649fcc52cc26a871b025aeee/1h483c8ql';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->
</head>
<body>
  <div class="wrapper-main">
    <!-- Top Bar -->
<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="social-media">
          <ul>
            <li>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-google-plus-g"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contact-details">
          <ul>
            <li><i class="fas fa-phone fa-rotate-90"></i> (769) 201-2783</li>
            <li>
              <i class="fas fa-map-marker-alt"></i> 3481 Melrose Place Beverly
              Hills, CA 90210
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-light top-nav">
  <div class="container">
    <a class="navbar-brand" href="/">
      <h5 style="color: blue">Bitonite <span style="color: red"> FX</span></h5>
    </a>
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="fas fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services">Services</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="#"
            id="navbarDropdownBlog"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Pages <i class="fas fa-sort-down"></i
          ></a>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="navbarDropdownBlog"
          >
            <a class="dropdown-item" href="/faqs">FAQ</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="contact">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

    <div class="flash_msgs">
      <!-- Check if messages is passed locally inside of any route -->

<div class="messages">
  <ul class="messages flashMsgsUl" style="list-style: none">
    
  </ul>
</div>


    </div>

   	
	<!-- full Title -->
	<div class="full-title">
		<div class="container">
			<!-- Page Heading/Breadcrumbs -->
			<h1 class="mt-4 mb-3"> About Us</h1>
			<div class="breadcrumb-main">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/">Home</a>
					</li>
					<li class="breadcrumb-item active"> About Us </li>
				</ol>
			</div>
		</div>
	</div>

    <div class="container">
		<!-- About Content -->
		<div class="about-main">
			<div class="row">
				<div class="col-lg-6">
					<img class="img-fluid rounded mb-4" src="images/about-img.jpg" alt="" />
				</div>
				<div class="col-lg-6">
					<h2>About Bitonite FX</h2>
					<p>Bitonite FX is dedicated to helping investors around the world reach their desired investment goals and broaden their financial horizons.
						We provide investment products and solutions to our clients across the world. Our breadth of investment capabilities is extensive and among the most innovative within the market.
						
						Bitonite FX was founded on a simple but revolutionary idea that an investment company should be run for the sole benefit of its investors. And so Cryptoguide Trading1 was designed to be different, removing outside owners and outside interests from the equation. Because of our investor-owned structure, Bitonite FX success can only be measured by your success. </p>
				</div>
			</div>
			<!-- /.row -->
		</div>
	</div>
	<div class="about-inner">
		<div class="container">
			<div class="row mb-4">
				<div class="col-lg-6">
					<div class="left-ab">
						<h3>Our Mission</h3>
						<p>Our goal is to enhance lives by providing a safe avenue, inspired by effective and innovative solutions for investing in the different, emerging investment packages in order to improve our investors' financial situation and ultimately provide them financial freedom.</p>
						<ul>
							<li>THE REVOLUTION IN ASSET INVESTMENTS MANAGEMENT:We offer our investors access to high-growth investment opportunities in the financial markets through the utility of state-of-the-art technical facilities and the implementation of industry standard cryptocurrency trading strategies.</li>
							<li>OUR INVESTMENT PHILOSOPHY: We will maintain a consistent decision making process within the organization and invest responsibly as a major investment firm. By looking for market inefficiencies, we determine the gap between the optimal price and the current market price of the asset, and produce excess revenue. We look for investment opportunities through intensive research, analysis and insight. With a continuous and consistent investment approach and extensive risk management, we aim to steadily reach our investment goal. We combine our deep knowledge of local markets with the power of coordinated global oversight to drive better investment outcomes for our investors.</li>
							<li>OUR INVESTORS: $562.9BN+ UNDER MANAGEMENT ON BEHALF OF OUR WORLD LEADING INVESTORS<br>Today, we manage a total of £455.6bn (€501.2bn/$562.9bn) of assets on behalf of governments, pension funds, insurers, companies, charities, foundations and individuals across 80 countries (28th August, 2020).
							</li>      
							<li>WHY BECOME AN INVESTOR AT Bitonite FX?: Invest with confidence and benefit from the reliability of a trusted broker with a proven record of stability, security and strength.</li>
							<li>Community and Support: Building a strong community of savers is at the heart of our mission. We foster a supportive environment where like-minded individuals can connect, share experiences, and learn from one another. By engaging with our community, you gain valuable insights, encouragement, and inspiration to stay focused on your Trading journey</li>							
					  </ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="right-ab">
						<img class="img-fluid rounded mb-4" src="images/mission-img.jpg" alt="" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="right-ab">
						<img class="img-fluid rounded mb-4" src="images/vision-img.jpg" alt="" />
					</div>
				</div>
				<div class="col-lg-6">
					<div class="left-ab">
						<h3>Our Vision</h3>
						<p>Our vision is to be the driving force behind a society of empowered savers. We envision a world where individuals are equipped with the knowledge, tools, and support to save money effectively and build a strong financial foundation. Here are five smart approaches we employ to make our vision a reality</p>
						<ul>
							<li>We’re proud to be an asset management company whose culture is driven by strong values and a long-term vision. At Cryptoguide Trading1, our vision, mission and core values serve as the catalyst in our relations with our clients, employees, shareholders and in the communities in which we live and work. They are our guiding compass in our business each day.</li>
							<li>Financial Education: We provide investment products and solutions to our clients across the world. Our breadth of investment capabilities is extensive and among the most innovative within the market.</li>
							<li>Innovative Technology: Bitonite FX mission is to help investors reach their goals, and that means access to advice that works for you. Whether through our own advisory services or supporting financial advisors, we stand firm in our belief that all investors deserve advice that can be trusted and puts your interests first. That's why we seek to provide the advice offerings you need to build your financial futur</li>      
							<li>Personalized Guidance: Strategy matters. Bitonite FX approach to managing investments on behalf of our clients is to combine an in-depth appreciation of their unique circumstances and objectives with the investment capacity of a large-scale institutional investor. That means knowing when to apply traditional strategies and when to deviate to ensure consistent, strong risk-adjusted returns.</li>
							<li>Strategy matters. Bitonite Fx approach to managing investments on behalf of our clients is to combine an in-depth appreciation of their unique circumstances and objectives with the investment capacity of a large-scale institutional investor. That means knowing when to apply traditional strategies and when to deviate to ensure consistent, strong risk-adjusted returns.</li>							
					  </ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<!-- Team Members -->
		<div class="team-members-box">  
			<!-- <h2>Our Team</h2> -->
			<!-- <div class="row">
				<div class="col-lg-4 mb-4">
					<div class="card h-100 text-center">
						<div class="our-team">
							<img class="img-fluid" src="images/team_01.jpg" alt="" />
							<div class="team-content">
								<h3 class="title">Nazmul Hossen</h3>
								<span class="post">CEO(Chief Executive Officer)</span>
								<ul class="social">
									<li><a href="#"><i class="fab fa-facebook"></i></a></li>
									<li><a href="#"><i class="fab fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mb-4">
					<div class="card h-100 text-center">
						<div class="our-team">
							<img class="img-fluid" src="images/team_02.jpg" alt="" />
							<div class="team-content">
								<h3 class="title">Mahedi amin</h3>
								<span class="post">Head of Retail Banking</span>
								<ul class="social">
									<li><a href="#"><i class="fab fa-facebook"></i></a></li>
									<li><a href="#"><i class="fab fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mb-4">
					<div class="card h-100 text-center">
						<div class="our-team">
							<img class="img-fluid" src="images/team_01.jpg" alt="" />
							<div class="team-content">
								<h3 class="title">Justin Alam</h3>
								<span class="post">Head of Corporate Banking</span>
								<ul class="social">
									<li><a href="#"><i class="fab fa-facebook"></i></a></li>
									<li><a href="#"><i class="fab fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div> -->
			<!-- /.row -->
		</div>
	</div>
	
	<div class="customers-box"> 
		<div class="container">
			<!-- Our Customers -->
			<h2>Our Partners</h2>
			<div class="row">
				<div class="col-lg-12">
					<div id="customers-slider" class="owl-carousel">
						<div class="mb-4">
							<img class="img-fluid" src="images/logo_01.png" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="images/logo_02.png" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="images/logo_03.png" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="images/logo_04.png" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="images/logo_05.png" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="images/logo_06.png" alt="" />
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</div>
	
	<!-- Contact Us -->
	<div class="touch-line">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
               <p>We value your relationship and are dedicated to providing you with exceptional service. Our knowledgeable customer support team is available to address your inquiries, concerns, or feedback promptly.</p>
            </div>
            <div class="col-md-4">
               <a class="btn btn-lg btn-secondary btn-block" href="/contact"> Contact Us </a>
            </div>
        </div>
    </div>
</div>


    
      <!-- /.container -->
      <!--footer starts from here-->
        <!--footer starts from here-->
  <footer class="footer">
    <div class="container bottom_border">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">About Us</h5>
                <!--headin5_amrc-->
                <p class="mb10">We are here to empower you on your journey towards financial freedom and help you make the most of your hard-earned money. Our dedicated team is committed to providing you with the tools, resources, and expert guidance you need to invest wisely and achieve your savings goals. </p>
                <ul class="footer-social">
                    <li><a class="facebook hb-xs-margin" href="#"><span class="hb hb-xs spin hb-facebook"><i class="fab fa-facebook-f"></i></span></a></li>
                    <li><a class="twitter hb-xs-margin" href="#"><span class="hb hb-xs spin hb-twitter"><i class="fab fa-twitter"></i></span></a></li>
                    <li><a class="instagram hb-xs-margin" href="#"><span class="hb hb-xs spin hb-instagram"><i class="fab fa-instagram"></i></span></a></li>
                    <li><a class="googleplus hb-xs-margin" href="#"><span class="hb hb-xs spin hb-google-plus"><i class="fab fa-google-plus-g"></i></span></a></li>
                    <li><a class="dribbble hb-xs-margin" href="#"><span class="hb hb-xs spin hb-dribbble"><i class="fab fa-dribbble"></i></span></a></li>
                </ul>
            </div>	
            <div class="col-lg-3 col-md-6 col-sm-6">
                <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="/"><i class="fas fa-long-arrow-alt-right"></i>Home</a></li>
                    <li><a href="/about"><i class="fas fa-long-arrow-alt-right"></i>About</a></li>
                    <li><a href="/services"><i class="fas fa-long-arrow-alt-right"></i>Services</a></li>
                    <li><a href="/contact"><i class="fas fa-long-arrow-alt-right"></i>Contact Us</a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
                <!--headin5_amrc ends here-->
                <ul class="footer_ul2_amrc">
                    <li>
                        <a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
                        <p>follow us on twitter<a href="#">Twitter</a></p>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-facebook fleft padding-right"></i> </a>
                        <p>follow us on facebook<a href="#">Facebook</a></p>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram fleft padding-right"></i> </a>
                        <p>follow us on instagram<a href="#">instagram</a></p>
                    </li>
                </ul>
                <!--footer_ul2_amrc ends here-->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 ">
                <div class="news-box">
                    <h5 class="headin5_amrc col_white_amrc pt2">Newsletter</h5>
                    <p>Stay informed and up-to-date with our newsletter at Tezko Bank. Sign up today to receive exclusive financial insights, tips, and updates delivered directly to your inbox. </p>
                    <form action="#" method="POST">
                        <div class="input-group">
                            <input class="form-control" placeholder="Your email" name="email" type="email" required>
                            <span class="input-group-btn">
                              <button class="btn btn-secondary">Subscribe!</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="copyright text-center">All Rights Reserved. &copy; 2018 <a href="/">Bitonite FX </a> 
        </p>
    </div>
</footer>
  </div>
      
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/script.js"></script>


</body>

<!-- Mirrored from tezkobank.com/about by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 02 May 2024 10:05:10 GMT -->
</html>

  